body
{
display: flex;
justify-content: center;
align-items: center;
margin: 0;
flex-direction: column;
background-color:#0b0c22;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}










/*CSS NOSOTROS*/

