body
{
display: flex;
justify-content: center;
align-items: center;
margin: 0;
flex-direction: column;
background-color:#0b2022;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#02834d;
}